:root {
  --background1: #0f0f0f;
  --background2: #323232;
  --background3: #3c426e;
  --background4: #232323;
  --background5: #ffffff;
  --fontsize1: 2px;
  --fontsize2: 4px;
  --fontsize3: 8px;
  --fontsize4: 10px;
  --fontsize5: 12px;
  --fontsize6: 14px;
  --fontsize7: 18px;
  --fontsize8: 20px;
  --fontsize9: 28px;
  --fontsize10: 34px;
}
.container-dashbord {
  width: 100%;
  position: relative;
}
.container-dashbord .nav {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 20px;
  padding-right: 20px;
  color: var(--background5);
  background-color: var(--background1);
}
.container-dashbord .nav > span {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
.cont-dash {
  width: 100%;
  height: 100%;
  background-color: var(--background4);
  display: flex;
}

.h-hamburgur-btn {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  outline: none;
  display: none;
}
/*---------start aside style------------ */
.aside {
  width: 88px;
  height: 100%;
  padding-top: 20px;
  background-color: var(--background2);
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
  gap: 2em;
}

.aside button {
  background: transparent;
  border: none;
}

@media screen and (max-width: 700px) {
  .aside {
    display: none;
  }
  .h-hamburgur-btn {
    display: block;
  }
  .container-dashbord .nav {
    justify-content: space-between;
  }
}
