:root {
  --background1: #3e3e3e;
  --background2: #636363;
  --background3: #3c426e;
  --background4: #525252;
  --background5: #ffffff;
  --fontsize1: 2px;
  --fontsize2: 4px;
  --fontsize3: 8px;
  --fontsize4: 10px;
  --fontsize5: 12px;
  --fontsize6: 14px;
  --fontsize7: 18px;
  --fontsize8: 20px;
  --fontsize9: 28px;
  --fontsize10: 34px;
}
/* .user {
    color: var(--background5);
    width: 100%;
    height: 50px;
    background-color: var(--background4);
} */
.user-top-row {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 10px; */
  color: var(--background5);
}
.user-top-row ul {
  padding: 5px 10px;
  list-style: none;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid var(--background5);
}
.user-top-row ul li {
  cursor: pointer;
}
.user-cont-body {
  width: 100%;
}
.user-cont-body div {
  margin: 0 auto;
  width: 90%;
  height: 400px;
  color: black;
  background-color: var(--background5);
  padding: 1em 10px;
  margin-top: 60px;
}
.user-top-row  > div{
  width: 50px;
  display: flex;
  height: 20px;
  justify-content: center;
  align-items: center;
  margin: 0 10px;

}
.btn-dark {
  width: 100%;
  height: 100%;
  background-color: var(--background5);
  box-shadow: inset  0 0 4px rgba(68, 68, 68, 0.864);
  border-radius: 40px;
  display: flex;
  transition: 0.4s ;
  position: relative;
  padding: 4px;
}
.btn-dark input {
  opacity: 0;
  position: absolute;
  right: 0px;

}
.btn-dark  > div {
  width:16px ;
  height:16px;
  position: absolute;
  top: 2px;
  border-radius: 100%;
  background-color: #b5b5b5;
  transition: 0.4s ;
  animation: btn-dark2 .4s forwards;
  box-shadow:  0 0 6px rgba(0, 0, 0, 0.609);
}


.btn-dark input:checked + .circle {
  transition: 0.4s ;
  animation: btn-dark .4s forwards;
  background-color: #525252;
}


@keyframes btn-dark {
  from{
    left: 3px;
  }
  to{
    left: 30px;
  }
}

@keyframes btn-dark2 {
  from{
    left: 30px;

  }
  to{
    left: 5px;
    /* right: 3px; */
  }
}

@media screen and (max-width: 464px) {
  .user-top-row ul li a {
    font-size: var(--fontsize5);
  }
}
