.calandar-container {
  background-color: var(--background1);
  grid-column: 15/14;
  grid-row: 1/20;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* margin-left: 30px; */
}

.mantine-Calendar-calendarHeaderControl,
.mantine-Calendar-calendarHeaderLevel,
.mantine-Calendar-pickerControl,
.mantine-Calendar-day {
  color: white;
}

.mantine-Calendar-day[data-event="true"]::before {
  content: "";
  background-color: pink;
  width: 5px;
  border-radius: 50%;
  height: 5px;
  position: absolute;
  top: 0;
  right: 0;
}

.mantine-Calendar-day[data-before="true"] {
  color: rgb(167, 167, 167);
}

.mantine-Calendar-day[data-before="true"].mantine-Calendar-day[data-weekend="true"] {
  color: rgb(141, 0, 0);
}

.mantine-Calendar-calendarHeaderControl:hover,
.mantine-Calendar-calendarHeaderLevel:hover,
.mantine-Calendar-pickerControl:hover,
.mantine-Calendar-day:hover {
  color: black;
}
.mantine-1uoqjdn[data-static]:hover {
  background-color: white;
}
.MuiDialog-root * {
  direction: ltr;
}

@media screen and (max-width: 700px) {
  .calandar-container {
    padding-top: 20px;
    margin-top: 30px;
    grid-column: span 13;
    grid-row: span 20;
  }
}

.calandar-container .h-event {
  color: white;
  align-self: flex-start;
}
