.h-pieChart {
  margin: 0 auto;
  width: 300px;
}
/* .swiper-slide {
} */

.recharts-sector {
  outline: none !important;
  border: none !important;
}

.h-pieChart-container {
  margin-top: 50px;
  grid-column: span 13;
  grid-row: span 6;
  position: relative;
}
