:root {
  --blue-green: #0f0f0f;
  --dark-gray: #555555;
  --light-gray: #dcdde0;
  --light-gray-text: #ababb0;
  --background1: #f9f9f9;
  --background2-5-6: #ffffff;
  --background3: #f1f1f1;
  --background4: #eceff1;
  --fontthin: vazirthin;
  --font: vazir;
  --fontsize1: 2px;
  --fontsize2: 4px;
  --fontsize3: 8px;
  --fontsize4: 10px;
  --fontsize5: 12px;
  --fontsize6: 14px;
  --fontsize7: 18px;
  --fontsize8: 20px;
  --fontsize9: 28px;
  --fontsize10: 34px;
}
@font-face {
  font-family: dana;
  src: url("../../fonts/dana-regular.ttf");
}
@font-face {
  font-family: danabold;
  src: url("../../fonts/dana-bold.ttf");
}
* {
  font-family: dana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #232323;
}
::-webkit-scrollbar{
  width: 5px !important;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow:inset 0 0 6px gray;
}
/* *{
  transition: 0.1s;
} */
a {
  color: unset;
  text-decoration: none;
}
.list-responsive{
  width:30px;
}
.idkjesus {
  position: relative;
  min-height: 100vh;
}

.sex {
  width: 100%;
  height: 50px;
  background-color: #555555;
}

.light1  {
background-color: #dee2e6;
color: #0f0f0f !important;
}
.light1 ul{
  border-color: #0f0f0f !important;
}
.light1 > * {
  background-color: #dee2e6 !important;
  color: #0f0f0f !important;
  
}



.light2{
  background-color: #495057 !important;
  color: #ffffff ;
}
.light3{
  background-color: #e9ecef !important;
  color: #000000 ;
}
.light3 button a img{
  filter:brightness(50%);
}
 